.App {
    width: 100dvw;
    max-width: 100dvw;
    min-height: 100dvh;
    max-height: 100dvh;
    overflow: auto;
    background: var(--dpale);
}

.App::-webkit-scrollbar {
    width: 0.3rem;
}
.App::-webkit-scrollbar-thumb {
    background: var(--dpale2);
    border-radius: 0.2rem;
}

main {
    padding-top: 64px;
}